<mat-progress-bar *ngIf = "isLoading" mode="indeterminate" color = "accent"></mat-progress-bar>
<div class="current-page">
    <h1>Change Password</h1>
  </div>
<div class="npsm-forms">
    <form [formGroup]="cpForm" (ngSubmit)="onSubmit()">        
    
        <div class="row npsm-form-row">
          <mat-form-field class="npsm-full-width">
            <input type = "password" matInput placeholder="New Password" formControlName = "newPassword" required>
            <mat-error *ngIf="cpForm.get('newPassword').hasError('required') && cpForm.get('newPassword').touched">Password is required.</mat-error>
          </mat-form-field>
        </div>
    
        <div class="row npsm-form-row">
          <mat-form-field class="npsm-full-width">
            <input type = "password" matInput placeholder="Confirm Password" formControlName = "confirmPassword" required>
            <mat-error *ngIf="cpForm.get('confirmPassword').hasError('required') && cpForm.get('confirmPassword').touched">Confirm password is required.</mat-error>
            <mat-error *ngIf="cpForm.get('confirmPassword').hasError('passwordsMismatch') && cpForm.get('confirmPassword').touched">Passwords should match.</mat-error>
          </mat-form-field>
        </div>
        <div class="row npsm-form-row">
          <div class="button-row">
            <button type="reset" mat-raised-button color="primary" (click)="onSubmit()" [disabled] = "!cpForm.valid || isLoading">Submit</button>
          </div>
        </div>
      </form>
</div>
