<div class="col-xs-12 col-sm-4 padding-top">
  <mat-card class="npsm-mat-card">
    <div class="row" style="height:50px">      
      <div class="col-xs-6" style = "margin-top:-10px; margin-left:-10px;">
        <span class="main-item">
          {{company.companyId}}
        </span>
      </div>
      <div class="col-xs-6" style="font-size:12px;text-align:right;">
        <div class="row" style="font-size:20px; font-weight:bold;">
          Rs. {{company.currentPrice | number}}
        </div>
        <div class="row" style="font-size:16px;">
          <span [style.color]="getColor(company.change)">{{company.change}} %</span>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 0px 0px 20px 10px;font-size:12px;">
        {{company.companyName}}      
    </div>
    <div class="row" style="font-size:20px;font-weight:bold">
      <div class="col-xs-6">Rs. {{(company.quantity * company.averagePrice) | number}}</div>
      <div class="col-xs-6" style="text-align:right;">Rs. {{(company.quantity * (company.currentPrice - company.averagePrice)) | number}}</div>
    </div>
    <div class="row" style="font-size:12px;">
      <div class="col-xs-6">Investment</div>
      <div class="col-xs-6" style="text-align:right;">Returns</div>
    </div>
    <div class="row" style="font-size:12px;margin-top:10px;padding:10px 0px;">
      <div class="col-xs-12">
          Total <b>{{company.quantity | number}}</b> shares with average cost of <b>Rs. {{company.averagePrice | number}}</b>
      </div>        
    </div>
  </mat-card>
</div>
