  
.example-spacer {
    flex: 1 1 auto;
}

mat-icon{
    cursor: pointer;
}

.user-name{
    font-size: .7em;
    font-weight: bold;
    font-style: italic;
}

@media(max-width: 767px){
    .container{
        padding: 0
    }
}